**/node_modules
**/venv
**/env
**/.git
**/.gitignore
**/.dockerignore
**/README.md
**/.env
**/.env.local
**/*.log
**/*.bak
**/db2_federated_data/
**/db2_remote_data/
**/.vscode/
**/.idea/
**/.DS_Store
**/Thumbs.db
**/*.tmp
**/.cache/
